This is the same process as our other collection but instead I'm looking for residential data.
This is in a serparate file because the decision to do this came after our initial collection.
Copy and pasting the notebook and making edits proved to be quick and efficient

In [6]:
import pandas as pd
import numpy as np
import requests
import json
import os
from matplotlib import pyplot as plt
from scipy.stats import linregress
from config import username, api_key
from city_list import slist, clist, alist

In [7]:
city_path = os.path.join("Data","usa_cities.csv")
df = pd.read_csv(city_path)
df.head()

,city,city_ascii,lat,lng,pop,country,iso2,iso3,province,abbr
0,Calais,Calais,45.165989,-67.242392,1781.5,United States of America,US,USA,Maine,NaN
1,Houlton,Houlton,46.125517,-67.839720,6051.5,United States of America,US,USA,Maine,NaN
2,Presque Isle,Presque Isle,46.793409,-68.002165,9466.0,United States of America,US,USA,Maine,NaN
3,Bar Harbor,Bar Harbor,44.387897,-68.204375,4483.5,United States of America,US,USA,Maine,NaN
4,Bangor,Bangor,44.801153,-68.778345,40843.0,United States of America,US,USA,Maine,NaN

In [9]:
#Save config information
url = "https://bpd-api.lbl.gov/api/v2/analyze/table"

# Build query URL
# params = {
#     "units":"imperial"
# }

energy_data = pd.DataFrame(clist,columns=["City"])
bad_cities = []
site_eui = []
number_of_people = []
operating_hours = []
occupant_density = []
floor_area = []
source_eui = []
num_buildings = []


headers = {
    "Content-Type":"application/json",
    "Authorization":f"ApiKey {username}:{api_key}",
}

energy_data

                 City
0          Birmingham
1              Mobile
2          Montgomery
3          Huntsville
4          Tuscaloosa
5           Anchorage
6           Fairbanks
7              Juneau
8              Palmer
9             Wasilla
10            Phoenix
11               Mesa
12             Tucson
13           Glendale
14               Yuma
15        Little Rock
16       Fayetteville
17         Fort Smith
18          Jonesboro
19             Conway
20        Los Angeles
21      San Francisco
22          San Diego
23             Irvine
24           San Jose
25             Denver
26             Aurora
27   Colorado Springs
28       Fort Collins
29             Pueblo
..                ...
208             Ogden
209        St. George
210             Logan
211        Burlington
212        Montpelier
213    Virginia Beach
214           Norfolk
215          Richmond
216           Hampton
217           Roanoke
218           Seattle
219            Tacoma
220         Vancouver
221           Everett
222           Spokane
223        Charleston
224        Huntington
225       Parkersburg
226        Morgantown
227          Wheeling
228         Milwaukee
229           Madison
230          Waukesha
231         Green Bay
232          Appleton
233          Cheyenne
234            Casper
235          Gillette
236           Laramie
237          Riverton

[238 rows x 1 columns]

In [54]:
payload = {
        "filters":{"building_class":["Residential"],
                   "city":["Austin"]},
        "group_by":["building_class"],
        "analyze_by":"source_eui"
    }
    
response = requests.post(url=url,data=json.dumps(payload),headers=headers,verify=True)
res_json = response.json()
res_json

{'metadata': {'message': 'success',
  'request_time': 0.03937482833862305,
  'url': 'http://bpd.lbl.gov/developers#analyze/table',
  'version': '2.2.1'},
 'summary': {'count': 367,
  'group': 'ALL',
  'mean': 93.41574038481505,
  'percentile_0': 15.038510023332037,
  'percentile_100': 245.81461519350228,
  'percentile_25': 69.14821568146536,
  'percentile_50': 89.87514098512307,
  'percentile_75': 110.1731360862604,
  'standard_deviation': 35.697199744297315},
 'table': [{'count': 367,
   'group': [{'field': 'building_class',
     'type': 'categorical',
     'value': 'Residential'}],
   'mean': 93.41574038481505,
   'percentile_0': 15.038510023332037,
   'percentile_100': 245.81461519350228,
   'percentile_25': 69.14821568146536,
   'percentile_50': 89.87514098512307,
   'percentile_75': 110.1731360862604,
   'standard_deviation': 35.697199744297315},
  {'count': 0,
   'group': [{'field': 'building_class',
     'type': 'categorical',
     'value': 'Unknown'}],
   'mean': None,
   'percentile_0': None,
   'percentile_100': None,
   'percentile_25': None,
   'percentile_50': None,
   'percentile_75': None,
   'standard_deviation': None},
  {'count': 0,
   'group': [{'field': 'building_class',
     'type': 'categorical',
     'value': 'Commercial'}],
   'mean': None,
   'percentile_0': None,
   'percentile_100': None,
   'percentile_25': None,
   'percentile_50': None,
   'percentile_75': None,
   'standard_deviation': None}],
 'totals': {'number_of_buildings_in_bpd': 1008855,
  'number_of_matching_buildings': 367}}

In [56]:
res_json["table"][0]["mean"]

93.41574038481505

In [53]:
dfcit = pd.DataFrame(res_json["table"])
dfcit

,count,group,mean,percentile_0,percentile_100,percentile_25,percentile_50,percentile_75,standard_deviation
0,20406,"[{'field': 'city', 'type': 'categorical', 'val...",55.524348,3.481561,768.478311,40.179184,51.806720,66.231108,25.286994
1,8093,"[{'field': 'city', 'type': 'categorical', 'val...",61.066086,3.512226,469.163416,38.932051,51.416528,70.252449,37.803620
2,38417,"[{'field': 'city', 'type': 'categorical', 'val...",56.790801,4.399925,389.156897,39.352244,52.188910,68.868157,25.674116
3,7682,"[{'field': 'city', 'type': 'categorical', 'val...",65.004278,3.643000,478.927846,40.917070,57.327232,79.880684,36.069911
4,17751,"[{'field': 'city', 'type': 'categorical', 'val...",69.017350,6.823056,699.748328,47.098908,63.883935,84.873883,32.875014
5,6597,"[{'field': 'city', 'type': 'categorical', 'val...",47.476240,9.661202,295.194862,31.900880,43.258656,57.303148,22.845356
6,11848,"[{'field': 'city', 'type': 'categorical', 'val...",71.447399,7.877607,611.838742,51.233007,67.154593,86.572225,30.446795
7,26431,"[{'field': 'city', 'type': 'categorical', 'val...",67.671825,8.697458,671.522248,46.933088,62.992507,82.678467,31.144455
8,8243,"[{'field': 'city', 'type': 'categorical', 'val...",82.483229,2.681988,552.658674,56.491337,75.478253,99.983550,41.281441
9,248439,"[{'field': 'city', 'type': 'categorical', 'val...",62.232609,1.709843,781.275300,42.529350,57.398506,76.075172,29.793711
10,17771,"[{'field': 'city', 'type': 'categorical', 'val...",61.614789,8.454413,690.388246,43.706954,57.226008,74.150719,27.725569
11,8538,"[{'field': 'city', 'type': 'categorical', 'val...",43.211941,3.165847,541.512245,27.988486,38.108720,51.823149,23.556990
12,11699,"[{'field': 'city', 'type': 'categorical', 'val...",57.778469,5.628924,395.944241,38.010437,52.591430,70.333082,29.968310
13,13473,"[{'field': 'city', 'type': 'categorical', 'val...",71.299693,7.976723,512.951232,49.140004,66.503998,87.268557,32.872181
14,5760,"[{'field': 'city', 'type': 'categorical', 'val...",48.322115,6.294038,371.574502,33.562687,44.501777,59.072626,21.261785
15,21073,"[{'field': 'city', 'type': 'categorical', 'val...",76.864526,2.601802,578.537069,55.933088,72.411848,92.312261,31.538186
16,11448,"[{'field': 'city', 'type': 'categorical', 'val...",44.817437,6.036544,298.501544,30.378944,40.718792,54.550954,20.639180
17,25727,"[{'field': 'city', 'type': 'categorical', 'val...",74.860025,3.564364,557.587422,52.083021,69.487541,90.672122,34.325209
18,13287,"[{'field': 'city', 'type': 'categorical', 'val...",60.835342,7.216465,585.561258,42.149482,55.746429,72.570219,29.605651
19,9232,"[{'field': 'city', 'type': 'categorical', 'val...",59.357515,4.551289,885.109445,38.541801,53.490707,72.804615,33.575163
20,19921,"[{'field': 'city', 'type': 'categorical', 'val...",64.849425,4.731830,886.992960,44.241356,59.324837,78.231178,32.909880
21,12867,"[{'field': 'city', 'type': 'categorical', 'val...",81.235674,7.858942,757.179433,58.484143,76.589762,98.288340,33.807219
22,5639,"[{'field': 'city', 'type': 'categorical', 'val...",74.280102,7.192626,850.184088,49.986909,68.525083,90.777088,37.944478
23,6769,"[{'field': 'city', 'type': 'categorical', 'val...",42.693920,6.304021,400.562514,28.006733,38.084286,51.655352,22.524793
24,39304,"[{'field': 'city', 'type': 'categorical', 'val...",62.377006,4.470889,655.614259,43.988264,57.950356,75.820819,27.474493

In [22]:
dfx = pd.DataFrame(res_json["table"])
dfx

,count,group,mean,percentile_0,percentile_100,percentile_25,percentile_50,percentile_75,standard_deviation
0,4985,"[{'field': 'climate', 'type': 'categorical', '...",224.309992,1.595628,2412.450000,108.839399,159.046506,276.427665,205.058968
1,4769,"[{'field': 'climate', 'type': 'categorical', '...",211.742252,3.153924,2805.900000,84.989616,127.781879,212.842975,243.903312
2,12,"[{'field': 'climate', 'type': 'categorical', '...",269.417620,89.286969,748.857360,151.016025,223.078414,339.651864,180.026875
3,594,"[{'field': 'climate', 'type': 'categorical', '...",258.339404,3.201754,1897.269166,110.259411,170.381748,292.189353,250.955312
4,12320,"[{'field': 'climate', 'type': 'categorical', '...",248.297527,1.870980,3118.286003,78.692115,124.576811,223.478459,332.240790
5,658,"[{'field': 'climate', 'type': 'categorical', '...",221.686867,4.762470,1465.383427,92.147453,152.724923,281.765000,206.710118
6,24547,"[{'field': 'climate', 'type': 'categorical', '...",247.678112,1.283320,3010.110778,115.775077,177.095685,279.717877,246.834422
7,1345,"[{'field': 'climate', 'type': 'categorical', '...",467.501375,1.659918,2865.908561,145.539642,330.387357,785.997422,362.368389
8,4551,"[{'field': 'climate', 'type': 'categorical', '...",249.417662,2.570411,2812.711538,101.903697,152.094652,271.839330,268.466528
9,599,"[{'field': 'climate', 'type': 'categorical', '...",235.887173,6.692308,1484.800000,107.441018,158.423729,269.871468,225.560854
10,19581,"[{'field': 'climate', 'type': 'categorical', '...",265.943118,2.084757,2952.281278,123.400000,190.114864,305.015152,243.387265
11,9118,"[{'field': 'climate', 'type': 'categorical', '...",278.237605,2.938462,2458.000000,115.180137,184.688397,309.897500,287.679187
12,6674,"[{'field': 'climate', 'type': 'categorical', '...",265.201748,1.738035,2410.333333,136.021834,204.125948,330.410803,215.482309
13,1538,"[{'field': 'climate', 'type': 'categorical', '...",241.053986,5.741210,2957.505814,118.806247,172.732864,314.712431,220.625281
14,5839,"[{'field': 'climate', 'type': 'categorical', '...",228.149300,1.300002,2642.265717,82.447933,135.800258,219.868687,277.035381
15,1181,"[{'field': 'climate', 'type': 'categorical', '...",248.662240,2.767206,2106.675000,131.324043,189.534711,321.264331,203.630227

In [46]:
dfx['group'] = dfx['group'].apply(get_value)

In [47]:
dfx

,count,group,mean,percentile_0,percentile_100,percentile_25,percentile_50,percentile_75,standard_deviation
0,4985,6A Cold - Humid (Burlington-VT),224.309992,1.595628,2412.450000,108.839399,159.046506,276.427665,205.058968
1,4769,4C Mixed - Marine (Salem-OR),211.742252,3.153924,2805.900000,84.989616,127.781879,212.842975,243.903312
2,12,8 Subarctic (Fairbanks-AK),269.417620,89.286969,748.857360,151.016025,223.078414,339.651864,180.026875
3,594,4B Mixed - Dry (Albuquerque-NM),258.339404,3.201754,1897.269166,110.259411,170.381748,292.189353,250.955312
4,12320,3B Warm - Dry (El Paso-TX),248.297527,1.870980,3118.286003,78.692115,124.576811,223.478459,332.240790
5,658,7 Very Cold (Duluth-MN),221.686867,4.762470,1465.383427,92.147453,152.724923,281.765000,206.710118
6,24547,4A Mixed - Humid (Baltimore-MD),247.678112,1.283320,3010.110778,115.775077,177.095685,279.717877,246.834422
7,1345,Unknown,467.501375,1.659918,2865.908561,145.539642,330.387357,785.997422,362.368389
8,4551,5B Cool - Dry (Boise-ID),249.417662,2.570411,2812.711538,101.903697,152.094652,271.839330,268.466528
9,599,6B Cold - Dry (Helena-MT),235.887173,6.692308,1484.800000,107.441018,158.423729,269.871468,225.560854
10,19581,5A Cool - Humid (Chicago-IL),265.943118,2.084757,2952.281278,123.400000,190.114864,305.015152,243.387265
11,9118,3A Warm - Humid (Memphis-TN),278.237605,2.938462,2458.000000,115.180137,184.688397,309.897500,287.679187
12,6674,2A Hot - Humid (Houston-TX),265.201748,1.738035,2410.333333,136.021834,204.125948,330.410803,215.482309
13,1538,2B Hot - Dry (Phoenix-AZ),241.053986,5.741210,2957.505814,118.806247,172.732864,314.712431,220.625281
14,5839,3C Warm - Marine (San Francisco-CA),228.149300,1.300002,2642.265717,82.447933,135.800258,219.868687,277.035381
15,1181,1A Very Hot - Humid (Miami-FL),248.662240,2.767206,2106.675000,131.324043,189.534711,321.264331,203.630227

In [49]:
dfx.to_csv(os.path.join("Data","climate_dataframe.csv"),index=False)

In [43]:
def get_value(series):
    return (series[0]["value"])

In [64]:
for city in clist:
    payload = {
        "filters":{"building_class":["Residential"],
                   "city":[city]},
        "group_by":["building_class"],
        "analyze_by":"source_eui"
    }
    
    try:
        response = requests.post(url=url,data=json.dumps(payload),headers=headers,verify=True)
        res_json = response.json()
        source_eui.append(res_json["table"][0]["mean"])
        print(f"Processing Record : {city}")
        
    except:
        print(f"Missing Data : {city}")
        source_eui.append(np.nan)

Processing Record : Birmingham
Processing Record : Mobile
Missing Data : Montgomery
Processing Record : Huntsville
Processing Record : Tuscaloosa
Processing Record : Anchorage
Processing Record : Fairbanks
Processing Record : Juneau
Processing Record : Palmer
Processing Record : Wasilla
Processing Record : Phoenix
Processing Record : Mesa
Processing Record : Tucson
Missing Data : Glendale
Processing Record : Yuma
Processing Record : Little Rock
Processing Record : Fayetteville
Processing Record : Fort Smith
Missing Data : Jonesboro
Processing Record : Conway
Processing Record : Los Angeles
Processing Record : San Francisco
Processing Record : San Diego
Processing Record : Irvine
Processing Record : San Jose
Processing Record : Denver
Processing Record : Aurora
Processing Record : Colorado Springs
Processing Record : Fort Collins
Processing Record : Pueblo
Processing Record : New Haven
Missing Data : Bridgeport
Processing Record : Hartford
Missing Data : Stamford
Missing Data : Waterbury
Missing Data : Wilmington
Processing Record : Dover
Processing Record : Washington, D.C.
Processing Record : Miami
Processing Record : Tampa
Processing Record : Fort Lauderdale
Processing Record : Jacksonville
Processing Record : Orlando
Processing Record : Atlanta
Processing Record : Columbus
Processing Record : Savannah
Processing Record : Augusta
Missing Data : Macon
Processing Record : Honolulu
Processing Record : Wahiawa
Processing Record : Hilo
Processing Record : Wailuku
Processing Record : Lihue
Missing Data : Boise
Processing Record : Caldwell
Processing Record : Idaho Falls
Processing Record : Pocatello
Processing Record : Twin Falls
Processing Record : Chicago
Missing Data : Joliet
Processing Record : Aurora
Processing Record : Elgin
Processing Record : Evanston
Processing Record : Indianapolis
Missing Data : Gary
Processing Record : Fort Wayne
Processing Record : South Bend
Processing Record : Evansville
Processing Record : Des Moines
Missing Data : Davenport
Missing Data : Cedar Rapids
Processing Record : Sioux City
Processing Record : Waterloo
Processing Record : Wichita
Processing Record : Kansas City
Processing Record : Topeka
Processing Record : Lawrence
Processing Record : Manhattan
Processing Record : Louisville
Missing Data : Covington
Missing Data : Lexington
Missing Data : Bowling Green
Processing Record : Owensboro
Processing Record : New Orleans
Processing Record : Baton Rouge
Processing Record : Metairie
Processing Record : Shreveport
Missing Data : Lafayette
Processing Record : Portland
Missing Data : Lewiston
Missing Data : Bangor
Processing Record : Augusta
Processing Record : Waterville
Processing Record : Baltimore
Processing Record : Annapolis
Processing Record : Hagerstown
Processing Record : St. Charles
Missing Data : Cumberland
Processing Record : Boston
Missing Data : Lowell
Processing Record : Springfield
Processing Record : Worcester
Processing Record : Salem
Processing Record : Detroit
Processing Record : Grand Rapids
Processing Record : Flint
Processing Record : Lansing
Missing Data : Ann Arbor
Processing Record : Minneapolis
Processing Record : St. Paul
Processing Record : Lakeville
Processing Record : Rochester
Processing Record : St. Cloud
Missing Data : Jackson
Missing Data : Southaven
Processing Record : Gulfport
Processing Record : Hattiesburg
Processing Record : Biloxi
Missing Data : St. Louis
Processing Record : Kansas City
Processing Record : Columbia
Processing Record : St. Charles
Processing Record : Springfield
Processing Record : Billings
Processing Record : Missoula
Processing Record : Great Falls
Processing Record : Bozeman
Processing Record : Helena
Processing Record : Omaha
Processing Record : Lincoln
Missing Data : Grand Island
Missing Data : Kearney
Processing Record : North Platte
Processing Record : Las Vegas
Processing Record : Reno
Processing Record : Carson City
Processing Record : Elko
Missing Data : Boulder City
Processing Record : Manchester
Missing Data : Concord
Missing Data : Newark
Processing Record : Trenton
Processing Record : Paterson
Processing Record : Atlantic City
Processing Record : Albuquerque
Processing Record : Las Cruces
Processing Record : Santa Fe
Missing Data : Roswell
Processing Record : Farmington
Processing Record : New York
Processing Record : Buffalo
Missing Data : Albany
Processing Record : Rochester
Processing Record : Syracuse
Missing Data : Charlotte
Missing Data : Raleigh
Processing Record : Greensboro
Missing Data : Durham
Processing Record : Winston-Salem
Missing Data : Fargo
Processing Record : Bismarck
Processing Record : Grand Forks
Processing Record : Minot
Missing Data : Dickinson
Processing Record : Cleveland
Processing Record : Columbus
Processing Record : Cincinnati
Processing Record : Dayton
Missing Data : Akron
Processing Record : Tulsa
Processing Record : Oklahoma City
Processing Record : Norman
Processing Record : Lawton
Processing Record : Enid
Processing Record : Portland
Missing Data : Eugene
Processing Record : Salem
Missing Data : Medford
Processing Record : Bend
Processing Record : Philadelphia
Processing Record : Pittsburgh
Processing Record : Allentown
Processing Record : Harrisburg
Processing Record : Lancaster
Processing Record : Providence
Processing Record : Newport
Processing Record : Columbia
Processing Record : Charleston
Processing Record : Greenville
Missing Data : Spartanburg
Processing Record : Rock Hill
Missing Data : Sioux Falls
Processing Record : Rapid City
Processing Record : Aberdeen
Processing Record : Brookings
Processing Record : Mitchell
Processing Record : Memphis
Processing Record : Nashville
Processing Record : Knoxville
Processing Record : Chattanooga
Processing Record : Barlett
Processing Record : Houston
Processing Record : Dallas
Processing Record : San Antonio
Processing Record : Ft. Worth
Processing Record : Austin
Processing Record : Salt Lake City
Processing Record : Provo
Processing Record : Ogden
Processing Record : St. George
Processing Record : Logan
Missing Data : Burlington
Processing Record : Montpelier
Processing Record : Virginia Beach
Missing Data : Norfolk
Processing Record : Richmond
Processing Record : Hampton
Processing Record : Roanoke
Processing Record : Seattle
Missing Data : Tacoma
Processing Record : Vancouver
Missing Data : Everett
Missing Data : Spokane
Processing Record : Charleston
Processing Record : Huntington
Missing Data : Parkersburg
Missing Data : Morgantown
Missing Data : Wheeling
Processing Record : Milwaukee
Processing Record : Madison
Missing Data : Waukesha
Processing Record : Green Bay
Processing Record : Appleton
Processing Record : Cheyenne
Processing Record : Casper
Processing Record : Gillette
Processing Record : Laramie
Processing Record : Riverton

In [69]:
for city in clist:
    payload = {
        "filters":{"building_class":["Residential"],
                   "city":[city]},
        "group_by":["building_class"],
        "analyze_by":"site_eui"
    }
    
    try:
        response = requests.post(url=url,data=json.dumps(payload),headers=headers,verify=True)
        res_json = response.json()
        site_eui.append(res_json["table"][0]["mean"])
        print(f"Processing Record : {city}")
        
    except:
        print(f"Missing Data : {city}")
        site_eui.append(np.nan)

Processing Record : Birmingham
Processing Record : Mobile
Missing Data : Montgomery
Processing Record : Huntsville
Processing Record : Tuscaloosa
Processing Record : Anchorage
Processing Record : Fairbanks
Processing Record : Juneau
Processing Record : Palmer
Processing Record : Wasilla
Processing Record : Phoenix
Processing Record : Mesa
Processing Record : Tucson
Missing Data : Glendale
Processing Record : Yuma
Processing Record : Little Rock
Processing Record : Fayetteville
Processing Record : Fort Smith
Missing Data : Jonesboro
Processing Record : Conway
Processing Record : Los Angeles
Processing Record : San Francisco
Processing Record : San Diego
Processing Record : Irvine
Processing Record : San Jose
Processing Record : Denver
Processing Record : Aurora
Processing Record : Colorado Springs
Processing Record : Fort Collins
Processing Record : Pueblo
Processing Record : New Haven
Missing Data : Bridgeport
Processing Record : Hartford
Missing Data : Stamford
Missing Data : Waterbury
Missing Data : Wilmington
Processing Record : Dover
Processing Record : Washington, D.C.
Processing Record : Miami
Processing Record : Tampa
Processing Record : Fort Lauderdale
Processing Record : Jacksonville
Processing Record : Orlando
Processing Record : Atlanta
Processing Record : Columbus
Processing Record : Savannah
Processing Record : Augusta
Missing Data : Macon
Processing Record : Honolulu
Processing Record : Wahiawa
Processing Record : Hilo
Processing Record : Wailuku
Processing Record : Lihue
Missing Data : Boise
Processing Record : Caldwell
Processing Record : Idaho Falls
Processing Record : Pocatello
Processing Record : Twin Falls
Processing Record : Chicago
Missing Data : Joliet
Processing Record : Aurora
Processing Record : Elgin
Processing Record : Evanston
Processing Record : Indianapolis
Missing Data : Gary
Processing Record : Fort Wayne
Processing Record : South Bend
Processing Record : Evansville
Processing Record : Des Moines
Missing Data : Davenport
Missing Data : Cedar Rapids
Processing Record : Sioux City
Processing Record : Waterloo
Processing Record : Wichita
Processing Record : Kansas City
Processing Record : Topeka
Processing Record : Lawrence
Processing Record : Manhattan
Processing Record : Louisville
Missing Data : Covington
Missing Data : Lexington
Missing Data : Bowling Green
Processing Record : Owensboro
Processing Record : New Orleans
Processing Record : Baton Rouge
Processing Record : Metairie
Processing Record : Shreveport
Missing Data : Lafayette
Processing Record : Portland
Missing Data : Lewiston
Missing Data : Bangor
Processing Record : Augusta
Processing Record : Waterville
Processing Record : Baltimore
Processing Record : Annapolis
Processing Record : Hagerstown
Processing Record : St. Charles
Missing Data : Cumberland
Processing Record : Boston
Missing Data : Lowell
Processing Record : Springfield
Processing Record : Worcester
Processing Record : Salem
Processing Record : Detroit
Processing Record : Grand Rapids
Processing Record : Flint
Processing Record : Lansing
Missing Data : Ann Arbor
Processing Record : Minneapolis
Processing Record : St. Paul
Processing Record : Lakeville
Processing Record : Rochester
Processing Record : St. Cloud
Missing Data : Jackson
Missing Data : Southaven
Processing Record : Gulfport
Processing Record : Hattiesburg
Processing Record : Biloxi
Missing Data : St. Louis
Processing Record : Kansas City
Processing Record : Columbia
Processing Record : St. Charles
Processing Record : Springfield
Processing Record : Billings
Processing Record : Missoula
Processing Record : Great Falls
Processing Record : Bozeman
Processing Record : Helena
Processing Record : Omaha
Processing Record : Lincoln
Missing Data : Grand Island
Missing Data : Kearney
Processing Record : North Platte
Processing Record : Las Vegas
Processing Record : Reno
Processing Record : Carson City
Processing Record : Elko
Missing Data : Boulder City
Processing Record : Manchester
Missing Data : Concord
Missing Data : Newark
Processing Record : Trenton
Processing Record : Paterson
Processing Record : Atlantic City
Processing Record : Albuquerque
Processing Record : Las Cruces
Processing Record : Santa Fe
Missing Data : Roswell
Processing Record : Farmington
Processing Record : New York
Processing Record : Buffalo
Missing Data : Albany
Processing Record : Rochester
Processing Record : Syracuse
Missing Data : Charlotte
Missing Data : Raleigh
Processing Record : Greensboro
Missing Data : Durham
Processing Record : Winston-Salem
Missing Data : Fargo
Processing Record : Bismarck
Processing Record : Grand Forks
Processing Record : Minot
Missing Data : Dickinson
Processing Record : Cleveland
Processing Record : Columbus
Processing Record : Cincinnati
Processing Record : Dayton
Missing Data : Akron
Processing Record : Tulsa
Processing Record : Oklahoma City
Processing Record : Norman
Processing Record : Lawton
Processing Record : Enid
Processing Record : Portland
Missing Data : Eugene
Processing Record : Salem
Missing Data : Medford
Processing Record : Bend
Processing Record : Philadelphia
Processing Record : Pittsburgh
Processing Record : Allentown
Processing Record : Harrisburg
Processing Record : Lancaster
Processing Record : Providence
Processing Record : Newport
Processing Record : Columbia
Processing Record : Charleston
Processing Record : Greenville
Missing Data : Spartanburg
Processing Record : Rock Hill
Missing Data : Sioux Falls
Processing Record : Rapid City
Processing Record : Aberdeen
Processing Record : Brookings
Processing Record : Mitchell
Processing Record : Memphis
Processing Record : Nashville
Processing Record : Knoxville
Processing Record : Chattanooga
Processing Record : Barlett
Processing Record : Houston
Processing Record : Dallas
Processing Record : San Antonio
Processing Record : Ft. Worth
Processing Record : Austin
Processing Record : Salt Lake City
Processing Record : Provo
Processing Record : Ogden
Processing Record : St. George
Processing Record : Logan
Missing Data : Burlington
Processing Record : Montpelier
Processing Record : Virginia Beach
Missing Data : Norfolk
Processing Record : Richmond
Processing Record : Hampton
Processing Record : Roanoke
Processing Record : Seattle
Missing Data : Tacoma
Processing Record : Vancouver
Missing Data : Everett
Missing Data : Spokane
Processing Record : Charleston
Processing Record : Huntington
Missing Data : Parkersburg
Missing Data : Morgantown
Missing Data : Wheeling
Processing Record : Milwaukee
Processing Record : Madison
Missing Data : Waukesha
Processing Record : Green Bay
Processing Record : Appleton
Processing Record : Cheyenne
Processing Record : Casper
Processing Record : Gillette
Processing Record : Laramie
Processing Record : Riverton

In [70]:
energy_data["mean source eui"] = source_eui
energy_data["mean site eui"] = site_eui
energy_data

                 City  mean source eui  mean site eui
0          Birmingham        96.557022      50.020103
1              Mobile       117.940363      50.998702
2          Montgomery              NaN            NaN
3          Huntsville              NaN            NaN
4          Tuscaloosa              NaN            NaN
5           Anchorage        86.474614      55.616592
6           Fairbanks              NaN            NaN
7              Juneau              NaN            NaN
8              Palmer              NaN            NaN
9             Wasilla              NaN            NaN
10            Phoenix        95.292175      34.146045
11               Mesa        95.648604      30.461339
12             Tucson        84.472751      32.412979
13           Glendale              NaN            NaN
14               Yuma       129.802519      43.328682
15        Little Rock       139.299537      61.015530
16       Fayetteville        88.438439      35.155192
17         Fort Smith              NaN            NaN
18          Jonesboro              NaN            NaN
19             Conway       122.396399      38.979745
20        Los Angeles        54.786719      27.359427
21      San Francisco        64.415370      40.110887
22          San Diego        62.232609      32.116250
23             Irvine        44.562117      22.837398
24           San Jose        63.062242      34.099588
25             Denver        98.117881      41.870882
26             Aurora        67.997506      39.035943
27   Colorado Springs       106.583514      63.695016
28       Fort Collins        89.902512      36.452121
29             Pueblo              NaN            NaN
..                ...              ...            ...
208             Ogden        84.463432      50.792128
209        St. George              NaN            NaN
210             Logan              NaN            NaN
211        Burlington              NaN            NaN
212        Montpelier              NaN            NaN
213    Virginia Beach       121.341974      58.197400
214           Norfolk              NaN            NaN
215          Richmond       103.406177      43.936039
216           Hampton        99.753041      38.027843
217           Roanoke              NaN            NaN
218           Seattle        90.929735      36.055703
219            Tacoma              NaN            NaN
220         Vancouver              NaN            NaN
221           Everett              NaN            NaN
222           Spokane              NaN            NaN
223        Charleston       132.482015      49.873167
224        Huntington              NaN            NaN
225       Parkersburg              NaN            NaN
226        Morgantown              NaN            NaN
227          Wheeling              NaN            NaN
228         Milwaukee        93.838426      61.219314
229           Madison        86.489930      55.601269
230          Waukesha              NaN            NaN
231         Green Bay        47.659936      22.648930
232          Appleton              NaN            NaN
233          Cheyenne              NaN            NaN
234            Casper              NaN            NaN
235          Gillette              NaN            NaN
236           Laramie              NaN            NaN
237          Riverton              NaN            NaN

[238 rows x 3 columns]

In [72]:
energy_data.to_csv(os.path.join("Data","bpd_data_residential.csv"),index=False)